In [4]:
%matplotlib inline

import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import re

So, the first thing that we want to do is a little background research into what we are getting ourselves into. It appears to be a dataset of 115 first year engineering undergrads participating in an expiriment. This expiriment is designed to track the activities of the participants during their sessions within an eductional suite.

It appears that the majority of the data exists within the `Data/Processes/` directory. This directory contains 6 sub-directories for each of the 6 sessions tracked. Within these `Session` folders. One of the first tasks is going to be to read in all of these data files, but before that, we must create labels for the header row. The headers are found in `features_info.txt`.

In [5]:
header_list = ['session', 'student_id', 'exercise', 'activity', 'start_time', 
               'end_time', 'idle_time','mouse_wheel', 'mouse_wheel_click',
               'left_click','right_click','mouse_movement','keystroke']

In [6]:
allFiles = glob.glob('Data/Processes/*/*') 
frame = pd.DataFrame() 
list_ = [] 

for file_ in allFiles: 
    df = pd.read_csv(file_)
    df.columns = header_list
    list_.append(df)
frame = pd.concat(list_)

In [7]:
frame.head()

,session,student_id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,left_click,right_click,mouse_movement,keystroke
0,1,1,Es,Aulaweb,2.10.2014 11:25:35,2.10.2014 11:25:42,218,0,0,4,0,397,0
1,1,1,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:43,0,0,0,0,0,59,0
2,1,1,Es,Deeds,2.10.2014 11:25:44,2.10.2014 11:26:17,154117,6,0,8,0,1581,4
3,1,1,Es,Other,2.10.2014 11:26:18,2.10.2014 11:26:18,0,0,0,2,0,103,0
4,1,1,Es,Other,2.10.2014 11:26:19,2.10.2014 11:26:27,460,0,0,4,0,424,8

In [8]:
frame.describe()

,session,student_id,idle_time,mouse_wheel,mouse_wheel_click,left_click,right_click,mouse_movement,keystroke
count,229798.000000,229798.000000,2.297980e+05,229798.000000,229798.000000,229798.000000,229798.000000,229798.000000,229798.000000
mean,3.695058,53.626233,-1.852064e+09,2.749741,0.005457,7.083112,0.336870,415.060222,6.294045
std,1.770348,31.542913,4.502500e+11,27.169832,0.223620,21.567963,3.020974,1273.675902,51.017414
min,1.000000,1.000000,-2.059092e+14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,27.000000,0.000000e+00,0.000000,0.000000,2.000000,0.000000,62.000000,0.000000
50%,4.000000,53.000000,8.000000e+01,0.000000,0.000000,2.000000,0.000000,138.000000,0.000000
75%,5.000000,81.000000,5.779000e+03,0.000000,0.000000,5.000000,0.000000,336.000000,0.000000
max,6.000000,115.000000,7.244736e+09,2904.000000,60.000000,1096.000000,168.000000,85949.000000,4754.000000

Whoops! Looks like the `session` and `student_id` columns are continuous. Let's go ahead and factorize those. Also, while we are at it, let's take a look at why data types each of the columns are. I am suspicious about the `start_time` and `end_time` features.

In [6]:
for col in ['session', 'student_id']:
    frame[col] = frame[col].astype('category')
    
for col in ['start_time', 'end_time']:
    frame[col] =  pd.to_datetime(frame[col], format=' %d.%m.%Y %H:%M:%S')

#frame['start_time'] = pd.to_datetime(frame['start_time'], format=' %d.%m.%Y %H:%M:%S')
#frame['end_time'] = pd.to_datetime(frame['end_time'], format=' %d.%m.%Y %H:%M:%S')

print(frame.columns.to_series().groupby(frame.dtypes).groups)

{category: ['session', 'student_id'], dtype('int64'): ['idle_time', 'mouse_wheel', 'mouse_wheel_click', 'left_click', 'right_click', 'mouse_movement', 'keystroke'], dtype('O'): ['exercise', 'activity'], dtype('<M8[ns]'): ['start_time', 'end_time']}

In [7]:
frame.describe()

,idle_time,mouse_wheel,mouse_wheel_click,left_click,right_click,mouse_movement,keystroke
count,2.297980e+05,229798.000000,229798.000000,229798.000000,229798.000000,229798.000000,229798.000000
mean,-1.852064e+09,2.749741,0.005457,7.083112,0.336870,415.060222,6.294045
std,4.502500e+11,27.169832,0.223620,21.567963,3.020974,1273.675902,51.017414
min,-2.059092e+14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000e+00,0.000000,0.000000,2.000000,0.000000,62.000000,0.000000
50%,8.000000e+01,0.000000,0.000000,2.000000,0.000000,138.000000,0.000000
75%,5.779000e+03,0.000000,0.000000,5.000000,0.000000,336.000000,0.000000
max,7.244736e+09,2904.000000,60.000000,1096.000000,168.000000,85949.000000,4754.000000

Okay, so it looks like we can get some descriptive statistics on the continuous variables. How about looking at the difference between `end_time` and `start_time`. This might be an interesting variable to track performance later on.

In [8]:
frame['time_delta'] = frame['end_time']-frame['start_time']
frame['time_delta'].describe()

count                    229798
mean     0 days 00:00:15.870281
std      0 days 00:01:01.079216
min           -1 days +23:49:48
25%             0 days 00:00:00
50%             0 days 00:00:02
75%             0 days 00:00:09
max             0 days 01:04:21
Name: time_delta, dtype: object

Look at that minimum time! Surely that has to be an input error as negative time is not possible. Hopefully this doesn't happen a lot. Let's find the columns in the `frame` dataframe to see if it is a common problem.

In [9]:
frame[frame['start_time']>frame['end_time']]

,session,student_id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,left_click,right_click,mouse_movement,keystroke,time_delta
562,4,89,Es_4_5,Diagram,2014-11-13 13:50:40,2014-11-13 13:40:28,30681,0,0,42,0,636,0,-1 days +23:49:48

In [22]:
frame.groupby(['student_id']).mean()

,idle_time,mouse_wheel,mouse_wheel_click,left_click,right_click,mouse_movement,keystroke
student_id,,,,,,,
1,3.675776e+05,2.062744,0.000000,7.186813,0.306274,527.038284,4.579936
2,9.917924e+05,2.530878,0.000000,9.345612,0.412784,408.067172,9.895991
3,7.400032e+05,1.020345,0.000000,5.845644,0.335250,319.028306,7.063246
4,6.370523e+05,2.393076,0.004261,5.666578,0.202397,202.425832,6.200266
5,5.724511e+05,2.324746,0.000000,6.536271,0.271864,574.849492,7.126102
6,7.853301e+05,4.918597,0.000000,6.553474,0.316076,434.436989,5.782357
7,1.847536e+06,2.867887,0.009896,7.710539,0.425532,456.328055,9.333993
8,1.899041e+06,4.016194,0.000000,9.094737,0.765992,493.125506,7.699595
9,6.765306e+05,2.914299,0.000902,7.028868,0.403248,294.848444,5.630582
10,5.368812e+05,2.217810,0.001203,8.073406,0.412756,408.923285,4.505114
11,1.117874e+06,1.261946,0.000000,5.332403,0.283920,482.064527,4.354726
12,1.337377e+06,0.025448,0.000000,5.529749,0.313978,152.627957,4.546595
13,7.838561e+05,3.019712,0.000000,6.269143,0.183472,395.954511,6.599697
14,9.584905e+05,4.894647,0.000000,6.884368,0.215846,434.629122,5.458244
15,9.613936e+05,2.349515,0.000000,7.012323,0.325616,367.485810,4.956311
16,6.973264e+05,0.000000,0.000000,6.783929,0.070554,231.685938,8.470848
17,2.084211e+06,1.491585,0.000886,5.271922,0.299380,266.523029,9.487157
18,1.191822e+06,1.044815,0.000000,7.830641,0.519020,377.821261,9.023971
19,1.193125e+06,0.041967,0.000000,7.961424,0.425604,720.903773,6.787622
20,3.491072e+05,1.192810,0.001160,6.702522,0.171064,326.812409,4.085242
21,1.209582e+06,3.524073,0.000000,7.023678,0.034728,380.862668,6.302289
22,5.790607e+05,0.934718,0.000000,6.651632,0.454599,148.051039,5.948368
23,1.517339e+06,0.000000,0.000000,4.872172,0.498869,273.304299,9.409502
24,1.187842e+06,2.163333,0.004762,6.374286,0.398095,449.224762,8.561429
25,7.158028e+05,3.440860,0.000000,6.990945,0.466327,372.955291,4.235993
26,8.106613e+05,2.757937,0.000000,5.634921,0.214286,102.829365,0.857143
27,1.592825e+06,13.868096,0.000000,9.293697,0.042885,418.684860,9.954516
28,-1.616782e+11,1.357251,0.000000,6.042901,0.343964,327.570235,7.194002
29,4.454926e+05,4.181407,0.000696,7.518802,0.425487,512.092618,4.239903
30,1.036265e+06,0.551376,0.004876,7.195402,0.206897,318.191223,7.082201
...,...,...,...,...,...,...,...
86,5.099227e+05,2.867505,0.000645,8.187943,0.437782,348.073179,7.386847
87,1.144226e+06,1.290214,0.000750,8.368579,0.534683,411.460442,5.902512
88,8.275357e+05,1.924804,0.000000,6.918680,0.376318,469.327662,6.462742
89,4.750953e+06,0.617619,0.000000,9.416263,0.313650,195.769603,0.824782
90,2.069642e+06,7.978598,0.026857,7.083089,0.259337,512.007134,7.456567
91,1.162081e+06,4.482871,0.006525,6.715742,0.455954,471.652936,5.962887
92,1.806280e+06,0.299380,0.000000,9.392968,0.178904,298.527921,9.210962
93,1.036887e+06,1.297629,0.002540,8.158764,0.059272,537.607959,7.193057
94,6.989238e+05,4.310253,0.000666,6.667776,0.402130,365.806258,4.043609
95,1.259904e+06,3.698232,0.000000,9.412967,0.447151,432.995285,5.695481
96,3.333781e+05,1.323897,0.000000,5.738551,0.448793,502.567860,3.390508
97,1.411390e+06,3.116292,0.001124,9.166292,0.513483,882.856742,8.446629
98,2.457756e+06,8.890576,0.001047,7.258115,0.070157,406.125131,6.469634
99,1.258544e+06,4.186058,0.000000,9.110577,0.439423,412.431250,5.725000
100,5.226608e+05,3.215232,0.000000,6.868023,0.475875,334.840587,5.536897
101,1.721824e+06,1.895105,0.000000,8.055167,0.675991,619.399378,6.076146
102,7.401701e+05,1.949357,0.002412,5.510852,0.238746,282.974678,5.317926
103,9.920956e+05,2.587702,0.000000,6.971774,0.336694,172.350806,7.905242
104,4.439448e+05,1.914050,0.000000,6.509521,0.184251,358.372105,5.812661
105,7.080941e+06,0.034707,0.000000,8.622560,0.052061,393.954447,8.047722
106,3.262255e+06,6.130435,0.020460,11.524297,0.941176,2456.289003,11.915601
107,2.298216e+06,8.925542,0.015080,7.714420,0.414703,490.587182,12.440151
108,4.758554e+05,1.132479,0.000000,6.038462,0.256410,235.967949,1.726496
109,5.849092e+04,1.445674,0.000000,5.026157,0.114688,362.570423,1.546278
110,3.873809e+05,1.555844,0.000000,7.974026,0.412987,343.574026,2.267532
111,1.560053e+05,0.000000,0.000000,7.563025,0.571429,294.304622,2.302521
112,3.471765e+05,0.926966,0.005618,6.615169,0.376404,489.047753,2.505618
113,2.341191e+05,0.000000,0.000000,6.228938,0.461538,251.972527,2.677656
114,1.386826e+05,0.000000,0.000000,4.879556,0.031696,131.244057,3.248811
115,2.409641e+05,7.868889,0.000000,5.782222,0.577778,347.242222,1.831111

Looks like it isn't that big of a deal. Only one row in the dataframe appears to have an incorrectly inputed times (well, at least for those errors that can be ruled out by physical impossibility). We will want take this out if doing an analysis that includes time as a variable, however, there are other parts of data that may be pertinent outside of the scope of time. For that reason, we shall keep this in the final file.

So now we have to read in the grades files. There appear to be 2 excel files, final grades and intermediate grades. First we tackle the final grades. This file has multiple sheets so we have to read in both and create one dataframe.

In [10]:
sheets = pd.ExcelFile('Data/final_grades.xlsx')
final_grades = pd.DataFrame() 
frames = [] 

for sheet in sheets.sheet_names: 
    df = sheets.parse(sheet)
    frames.append(df)
final_grades = pd.concat(frames)

In [11]:
cols = ['student_id','es_1_1_2points','es_1_2_3points','es_2_1_2points','es_2_2_3points',
       'es_3_1_1point','es_3_2_2points','es_3_3_2points','es_3_4_2points','es_3_5_3points',
       'es_4_1_15points','es_4_2_10points','es_5_1_2points','es_5_2_10points','es_5_3_3points',
       'es_6_1_25points','es_6_2_15points','total']

final_grades.columns = cols

In [12]:
inter_cols = ['student_id','session_2','session_3','session_4','session_5','session_6']
inter_grades = pd.read_excel('Data/intermediate_grades.xlsx')
inter_grades.columns = inter_cols

inter_grades

     student_id  session_2  session_3  session_4  session_5  session_6
0             1        5.0        0.0        4.5        4.0       2.25
1             2        4.0        3.5        4.5        4.0       1.00
2             3        3.5        3.5        4.5        4.0       0.00
3             4        6.0        4.0        5.0        3.5       2.75
4             5        5.0        4.0        5.0        4.0       2.75
5             6        5.5        3.5        4.5        3.0       3.00
6             7        4.0        4.0        4.5        4.0       2.00
7             8        4.0        3.5        4.0        3.0       0.00
8             9        0.0        3.0        4.0        4.0       2.00
9            10        5.0        4.0        4.5        4.0       3.00
10           11        4.0        2.0        5.0        4.0       1.50
11           12        3.5        3.5        4.5        4.0       2.00
12           13        0.0        0.0        5.0        4.0       3.00
13           14        6.0        4.0        5.0        4.0       2.75
14           15        2.0        4.0        5.0        4.0       2.00
15           16        3.0        2.5        5.0        4.0       2.00
16           17        3.5        3.5        5.0        4.0       4.00
17           18        5.0        4.0        4.5        4.0       3.00
18           19        4.0        2.0        4.5        4.0       1.50
19           20        3.0        3.0        4.5        3.5       2.00
20           21        5.0        0.0        3.5        0.0       0.00
21           22        4.5        0.0        4.0        4.0       0.00
22           23        0.0        1.5        4.0        3.5       0.00
23           24        2.5        2.0        4.5        3.5       3.00
24           25        0.0        1.5        4.5        4.0       2.25
25           26        0.0        0.0        4.0        0.0       0.00
26           27        0.0        3.0        4.5        4.0       1.75
27           28        6.0        4.0        5.0        4.0       3.00
28           29        4.0        3.0        5.0        4.0       3.75
29           30        3.0        2.0        4.5        4.0       2.75
..          ...        ...        ...        ...        ...        ...
85           86        5.0        4.0        5.0        4.0       3.25
86           87        4.0        3.5        4.5        3.5       2.25
87           88        5.0        3.0        5.0        4.0       2.75
88           89        0.5        1.5        3.5        2.5       0.50
89           90        3.5        2.5        4.5        3.5       3.00
90           91        6.0        4.0        5.0        4.0       2.25
91           92        2.5        2.5        4.5        4.0       1.00
92           93        4.0        4.0        4.5        4.0       1.50
93           94        5.5        4.0        5.0        4.0       2.75
94           95        4.0        3.5        5.0        3.0       3.25
95           96        4.5        0.0        5.0        4.0       2.25
96           97        4.0        3.0        4.5        0.0       0.50
97           98        3.5        4.0        5.0        4.0       3.00
98           99        2.0        2.5        4.0        3.5       1.50
99          100        3.5        2.0        0.0        4.0       3.00
100         101        4.5        1.5        0.0        3.5       0.00
101         102        4.5        4.0        4.0        3.5       2.00
102         103        2.0        0.0        0.0        3.5       0.00
103         104        6.0        0.0        4.5        4.0       2.75
104         105        0.0        0.5        0.0        0.0       0.00
105         106        0.0        3.5        0.0        0.0       0.00
106         107        0.0        1.0        0.0        0.0       0.00
107         108        0.0        0.0        0.0        0.0       0.00
108         109        0.0        0.0        0.0        0.0       0.00
109         110        0.0        0.0        0.0        0.0       0.00
110         111        3.0        0.0        0.0        3.0       0.00
111         112        0.0        0.0        0.0        0.0       0.00
112         113        0.0        0.0        0.0        0.0       0.00
113         114        0.0        0.0        0.0        0.0       0.00
114         115        0.0        0.0        0.0        0.0       0.00

[115 rows x 6 columns]

In [13]:
frame.to_csv('Data/sessions.csv')
final_grades.to_csv('Data/final_grades.csv')
inter_grades.to_csv('Data/inter_grades.csv')