In [7]:
import pandas as pd
import numpy as np
import glob

So, the first thing that we want to do is a little background research into what we are getting ourselves into. It appears to be a dataset of 115 first year engineering undergrads participating in an expiriment. This expiriment is designed to track the activities of the participants during their sessions within an eductional suite.

It appears that the majority of the data exists within the `Data/Processes/` directory. This directory contains 6 sub-directories for each of the 6 sessions tracked. Within these `Session` folders. One of the first tasks is going to be to read in all of these data files, but before that, we must create labels for the header row. The headers are found in `features_info.txt`.

In [62]:
header_list = ['session', 'student_id', 'exercise', 'activity', 'start_time', 
               'end_time', 'idle_time','mouse_wheel', 'mouse_wheel_click',
               'left_click','right_click','mouse_movement','keystroke']

In [66]:
allFiles = glob.glob('Data/Processes/Session 1/*') 
frame = pd.DataFrame() 
list_ = [] 
for file_ in allFiles: 
    df = pd.read_csv(file_)
    df.columns = header_list
    list_.append(df)
frame = pd.concat(list_)

print(len(frame))

34217

Okay, so we just wanted to see what the length was of all of the data in one of the `Session` folders. The next step is to read all of the data from all of the `Session` folders and create dataframe. We are going to go ahead and store this in an object called `frame`.

In [67]:
allFiles = glob.glob('Data/Processes/*/*') 
frame = pd.DataFrame() 
list_ = [] 

for file_ in allFiles: 
    df = pd.read_csv(file_)
    df.columns = header_list
    list_.append(df)
frame = pd.concat(list_)

In [68]:
frame

,session,student_id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,left_click,right_click,mouse_movement,keystroke
0,1,1,Es,Aulaweb,2.10.2014 11:25:35,2.10.2014 11:25:42,218,0,0,4,0,397,0
1,1,1,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:43,0,0,0,0,0,59,0
2,1,1,Es,Deeds,2.10.2014 11:25:44,2.10.2014 11:26:17,154117,6,0,8,0,1581,4
3,1,1,Es,Other,2.10.2014 11:26:18,2.10.2014 11:26:18,0,0,0,2,0,103,0
4,1,1,Es,Other,2.10.2014 11:26:19,2.10.2014 11:26:27,460,0,0,4,0,424,8
5,1,1,Es,Blank,2.10.2014 11:26:28,2.10.2014 11:26:28,0,0,0,1,0,93,0
6,1,1,Es,Deeds,2.10.2014 11:26:29,2.10.2014 11:26:29,0,0,0,1,0,75,0
7,1,1,Es,Aulaweb,2.10.2014 11:26:30,2.10.2014 11:26:33,0,0,0,2,0,238,0
8,1,1,Es,Deeds,2.10.2014 11:26:34,2.10.2014 11:26:41,4933,0,0,2,0,268,0
9,1,1,Es,Other,2.10.2014 11:26:42,2.10.2014 11:26:47,3212,0,0,4,0,275,2
10,1,1,Es,Aulaweb,2.10.2014 11:26:48,2.10.2014 11:27:0,1174,3,0,2,0,596,0
11,1,1,Es,Aulaweb,2.10.2014 11:27:1,2.10.2014 11:27:4,63,0,0,2,0,297,0
12,1,1,Es,Other,2.10.2014 11:27:5,2.10.2014 11:27:10,7834,0,0,0,0,142,0
13,1,1,Es,Aulaweb,2.10.2014 11:27:11,2.10.2014 11:27:15,0,4,0,2,0,342,0
14,1,1,Es,Other,2.10.2014 11:27:16,2.10.2014 11:27:17,140,0,0,0,0,99,0
15,1,1,Es_1_1,Study_Es_1_1,2.10.2014 11:27:18,2.10.2014 11:27:45,165188,0,0,4,0,715,0
16,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:27:46,2.10.2014 11:27:49,234,0,0,2,0,214,0
17,1,1,Es_1_1,Study_Es_1_1,2.10.2014 11:27:50,2.10.2014 11:27:50,0,0,0,0,0,77,0
18,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:27:51,2.10.2014 11:33:57,11510470,0,0,230,54,16970,7
19,1,1,Es_1_1,Properties,2.10.2014 11:33:58,2.10.2014 11:33:59,31,0,0,0,0,189,0
20,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:34:0,2.10.2014 11:36:3,2396565,5,0,50,0,2811,0
21,1,1,Es_1_1,Other,2.10.2014 11:36:4,2.10.2014 11:36:12,11543,0,0,2,0,356,0
22,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:36:13,2.10.2014 11:36:55,819129,0,0,2,0,116,0
23,1,1,Es_1_1,Blank,2.10.2014 11:36:57,2.10.2014 11:37:1,703,0,0,2,0,230,0
24,1,1,Es_1_1,Other,2.10.2014 11:37:2,2.10.2014 11:37:8,128,0,0,2,0,638,0
25,1,1,Es_1_1,Deeds_Es_1_1,2.10.2014 11:37:9,2.10.2014 11:37:13,6879,0,0,2,0,135,0
26,1,1,Es_1_1,Blank,2.10.2014 11:37:14,2.10.2014 11:37:14,0,0,0,2,0,74,0
27,1,1,Es_1_1,Deeds,2.10.2014 11:37:15,2.10.2014 11:37:16,16,0,0,2,0,105,0
28,1,1,Es_1_1,Blank,2.10.2014 11:37:17,2.10.2014 11:37:19,31,0,0,5,0,135,0
29,1,1,Es_1_1,Deeds,2.10.2014 11:37:20,2.10.2014 11:37:20,0,0,0,3,0,80,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,6,99,Es_6_2,Deeds_Es_6_2,11.12.2014 13:27:8,11.12.2014 13:27:14,279,0,0,9,0,308,0
499,6,99,Es_6_2,Other,11.12.2014 13:27:15,11.12.2014 13:27:19,1294,0,0,1,0,127,0
500,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:27:20,11.12.2014 13:29:42,8013405,0,0,64,2,2404,4
501,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:29:43,11.12.2014 13:29:47,263,8,0,8,0,404,0
502,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:29:48,11.12.2014 13:29:50,2,0,0,2,0,275,0
503,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:29:51,11.12.2014 13:29:54,515,0,0,2,0,146,0
504,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:29:55,11.12.2014 13:34:34,33120804,0,0,56,2,3326,2
505,6,99,Es_6_3,Other,11.12.2014 13:34:35,11.12.2014 13:34:35,0,0,0,2,0,54,0
506,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:34:36,11.12.2014 13:34:44,1853,0,0,14,0,814,0
507,6,99,Es_6_3,Properties,11.12.2014 13:34:45,11.12.2014 13:34:45,0,0,0,1,0,50,0
508,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:34:46,11.12.2014 13:34:46,0,0,0,1,0,82,0
509,6,99,Es_6_3,Blank,11.12.2014 13:34:47,11.12.2014 13:34:47,0,0,0,5,0,47,0
510,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:34:48,11.12.2014 13:41:34,53232298,29,0,65,0,4855,0
511,6,99,Es_6_3,Blank,11.12.2014 13:41:35,11.12.2014 13:41:35,0,0,0,3,0,0,0
512,6,99,Es_6_3,Other,11.12.2014 13:41:37,11.12.2014 13:41:37,0,0,0,3,0,39,0
513,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:41:38,11.12.2014 13:41:38,0,0,0,4,0,18,0
514,6,99,Es_6_3,Other,11.12.2014 13:41:39,11.12.2014 13:43:7,3758167,0,0,2,0,149,0
515,6,99,Es_6_3,Blank,11.12.2014 13:43:8,11.12.2014 13:43:8,0,0,0,1,0,28,0
516,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:43:9,11.12.2014 13:43:43,523035,3,0,1,0,96,0
517,6,99,Es_6_3,Other,11.12.2014 13:43:44,11.12.2014 13:43:44,0,0,0,2,0,68,0
518,6,99,Es_6_3,Study_Es_6_3,11.12.2014 13:43:45,11.12.2014 13:47:14,19711409,0,0,2,0,528,0
519,6,99,Es_6_3,Other,11.12.2014 13:47:15,11.12.2014 13:47:17,592,0,0,4,0,141,0
520,6,99,Es_6_3,Other,11.12.2014 13:47:18,11.12.2014 13:47:21,515,0,0,2,0,204,6
521,6,99,Es_6_3,Aulaweb,11.12.2014 13:47:22,11.12.2014 13:47:28,1375,0,0,10,0,87,28
522,6,99,Es_6_3,Other,11.12.2014 13:47:29,11.12.2014 13:47:29,0,0,0,0,0,0,4
523,6,99,Es_6_3,Aulaweb,11.12.2014 13:47:30,11.12.2014 13:47:35,60,30,0,1,0,250,0
524,6,99,Es_6_3,Other,11.12.2014 13:47:36,11.12.2014 13:47:36,0,0,0,3,0,37,0
525,6,99,Es_6_3,Other,11.12.2014 13:47:37,11.12.2014 13:47:39,64,0,0,2,2,283,0
526,6,99,Es_6_3,FSM_Es_6_3,11.12.2014 13:47:40,11.12.2014 13:47:40,0,0,0,2,0,67,0
527,6,99,Es_6_3,Properties,11.12.2014 13:47:41,11.12.2014 13:47:41,0,0,0,2,0,103,0

In [69]:
frame.describe()

,session,student_id,idle_time,mouse_wheel,mouse_wheel_click,left_click,right_click,mouse_movement,keystroke
count,229798.000000,229798.000000,2.297980e+05,229798.000000,229798.000000,229798.000000,229798.000000,229798.000000,229798.000000
mean,3.695058,53.626233,-1.852064e+09,2.749741,0.005457,7.083112,0.336870,415.060222,6.294045
std,1.770348,31.542913,4.502500e+11,27.169832,0.223620,21.567963,3.020974,1273.675902,51.017414
min,1.000000,1.000000,-2.059092e+14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,27.000000,0.000000e+00,0.000000,0.000000,2.000000,0.000000,62.000000,0.000000
50%,4.000000,53.000000,8.000000e+01,0.000000,0.000000,2.000000,0.000000,138.000000,0.000000
75%,5.000000,81.000000,5.779000e+03,0.000000,0.000000,5.000000,0.000000,336.000000,0.000000
max,6.000000,115.000000,7.244736e+09,2904.000000,60.000000,1096.000000,168.000000,85949.000000,4754.000000